@model IEnumerable<ProjectDotNet.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h1>Category list</h1>

<div class="pt-5">
    <a class="btn btn-primary " asp-action="Create">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td class="d-flex justify-content-end gap-3">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
